<h1>Home</h1>

<% Dir.entries(Rails.root+"app/views/pages").each do |file| %>
  <% if file.match(/^[0-9]/) %>
    <p>
    <%= link_to file.split('.html.erb').first, page_path(file.split('.html.erb').first) %>
    </p>
  <% end %>
<% end %>
