<div ng-app="superhero11">
  <!-- directive:announcement -->

  <!--
  power runs before fly
  superstrong runs before superfast
  -->
  <superman power fly class="superstrong superfast"></superman>

  <!-- directive:acknowledgements -->
</div>
