<div ng-app="choreApp16">
  <div class="form-inline" ng-controller="ChoreCtrl">
    <p><kid done="logChore(chore)"></kid></p>
    <p><kid done="logChore(chore)"></kid></p>
    <p><kid done="logChore(chore)"></kid></p>
  </div>
</div>
