<div ng-app="drinkApp17">
  <div ng-controller="AppCtrl">

    <div drink flavor="strawberry"></div>

    <div food flavor="pizza"></div>

    <input type="text" ng-model="ctrlFlavor" />
    <div season flavor="{{ctrlFlavor}}"></div>

  </div>
</div>
