<div ng-app="drinkApp18">
  <div ng-controller="AppCtrl">

    <div>
      <p>Update from controller</p>
      <input type="text" ng-model="ctrlFlavor" />
    </div>

    <div>
      Update from directive
      <div drink flavor="ctrlFlavor"></div>
    </div>

  </div>
</div>
