<div ng-app="phoneApp19">
  <div ng-controller="AppCtrl">

    <div  class="form-inline">
      <div phone dial="callHome(message)"></div>
      <div phone dial="callHome(message)"></div>
      <div phone dial="callHome(message)"></div>
    </div>

  </div>
</div>
