<div ng-app="phoneApp20">
  <div class="form-inline" ng-controller="AppCtrl">
    <phone number="123-7777" network="network" make-call="leaveVoicemail(number, message)"></phone>

    <phone number="445-1234" network="network" make-call="leaveVoicemail(number, message)"></phone>

    <phone number="873-8899" network="network" make-call="leaveVoicemail(number, message)"></phone>
  </div>
</div>
