<div ng-app="phoneApp21">
  <div ng-controller="AppCtrl">

    <panel>
      <button class="btn">Click me!</button>
    </panel>

    <panel-transclude>
      <button class="btn">Click me!</button>
    </panel-transclude>

    <second-panel-transclude>
      <button class="btn">Click me!</button>
    </second-panel-transclude>

  </div>
</div>
