<div ng-app="phoneApp23">
  <div ng-controller="AppCtrl">

    <button class="btn" ng-click="sayHi()">Say Hi!</button>

    <button class="btn btn-warning" ng-click="AppCtrl.sayHiAgain()">Say again Hi!</button>

    <success>Success message!</success>

  </div>
</div>
