<div ng-app="app47" ng-controller="AppCtrl as app">
  <div ng-repeat-start="thing in app.things">
    {{thing}}
  </div>
  <strong>Anything in here</strong>
  <div ng-repeat-end>
    Also in here with binding {{thing}}<br /><br />
  </div>
</div>
