<div ng-app="app48" ng-controller="AppCtrl as app" class="app48">
  <button class="btn" ng-click="app.toggle=!app.toggle">Toggle Animation</button>

  <div class="toggle" ng-if="app.toggle">Hey!</div>
</div>
